.center-text {
  text-align: center;
  font-size: 30px;
}

.portfolio {
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.3rem;
  margin-top: 4.2rem;
  justify-content: center;
  margin: auto;
}

.row img {
  height: auto;
  width: 100%;
  border-radius: 28px;
  margin-bottom: 1.4rem;
}

.row {
  background: #2d343f;
  border-radius: 28px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px var(--main-color);
  padding: 20px;
  transition: all 0.5s ease;
  width: 95%;
}

.main-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.row h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--other-color);
}

.row i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  font-size: 27px;
  border-radius: 50%;
  color: var(--text-color);
  background: #075fe4;
}

.row h4 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.4;
}

.row:hover {
  border: 1px solid var(--main-color);
  cursor: pointer;
  transform: translateY(-5px) scale(1.03);
}
